* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.app-container {
    padding: 5%;
    margin: 0;
    display: flex;
}

span {
    padding: 5px;
}

.delete-button:hover {
    cursor: pointer;
}

.input-container {
    margin-top: 15px;
}

.input {
    margin: 5px;
}

.input-label {

    font-size-adjust: inherit;
    padding-right: 15px;
    color: #ccc;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #00bcd4;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
}